{% extends 'base.html' %}
{% load static %}
{% block title %} Details {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <h5 class="card-header">Details trainer</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ trainer }}</h5>
                        <p class="card-text">Course:{{ trainer.course }}</p>
                        <a href="{% url 'list-of-trainers' %}" class="btn btn-primary">back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}







